@use '../../styles/variables' as*;
@use '../../styles/mixins' as *;


.mini-hero {
    @include flex($direction: row, $justify:space-between, $align: center);
    &--reverted {
        flex-direction: row-reverse
    }
    &__texts {
        @include flex($direction:column);
        row-gap: 1.5rem;
    }
    &__title {
        margin:0;
        @include font ($size: 2.5rem, $weight:700, $transform: none, $spacing: 2px)
    }
    &__paragraph {
        margin:0;
        width: 21.875rem;
        @include font ($size: 1.25rem, $color: $secondary-text, $transform: none, $spacing: normal)
    }
    &__pic {
        box-shadow: $box-shadow;
        border-radius: 20px;
    }
    
}